<div class="container">
  <h1>Teile diese App</h1>
  <img width="60%" src="../../assets/qrcode.png" />
  <p>Wenn du mehr über mich erfahren möchtest, seh dir meine Website an.</p>
  <a href="https://ob2020.koeln">ob2020.koeln</a>
  <br />
  <br />
  <!-- <a href="/">[debug] von vorne</a> -->
  <div class="icon-container">
    <a href="https://www.facebook.com/ob2020koeln" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a>
    <a href="https://www.instagram.com/robert_nussholz/" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
    <a href="https://www.twitter.com/RobertNussholz/" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
  </div>
  
<p class="copy">Made by<br /><a href="mailto:eric@bostrot.com">eric@bostrot.com</a></p>
</div>